.idea
/target
/instance-src
/.buildpath
/.project
/.settings
/build.properties

# vendor folder
vendor/

# the apple directory description
.DS_Store

# phpdocumentor files
phpdoc-*

# but don't ignore this file
!.gitignore
